Node-Red/flows.json
[{"id":"9c2f3758.db42c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a227b8e1.550058","type":"ui_group","z":"","name":"Chatbot","tab":"20a485ba.28ab7a","order":1,"disp":true,"width":19,"collapse":false},{"id":"20a485ba.28ab7a","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"53ee005e.00cea","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ce00c7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ab34def.e65db4","type":"ui_form","z":"9c2f3758.db42c8","name":"","label":"","group":"a227b8e1.550058","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["98e0af19.ee795"]]},{"id":"98e0af19.ee795","type":"function","z":"9c2f3758.db42c8","name":"","func":"msg.payload=msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["54610d85.116d04","91367913.52a5f8"]]},{"id":"4753d81e.1f00f8","type":"function","z":"9c2f3758.db42c8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["941d347a.e8e248"]]},{"id":"54610d85.116d04","type":"watson-conversation-v1","z":"9c2f3758.db42c8","name":"Customer Care","workspaceid":"83e4185e-c268-4ce1-b3ee-cdd6149bee02","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b889e5eb-99a9-423a-b361-f574bb6f3b37","timeout":"","optout-learning":false,"x":400,"y":100,"wires":[["f44d958.de91668","4753d81e.1f00f8"]]},{"id":"91367913.52a5f8","type":"ui_text","z":"9c2f3758.db42c8","group":"a227b8e1.550058","order":2,"width":19,"height":3,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":290,"y":400,"wires":[]},{"id":"f44d958.de91668","type":"debug","z":"9c2f3758.db42c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"941d347a.e8e248","type":"ui_text","z":"9c2f3758.db42c8","group":"a227b8e1.550058","order":3,"width":19,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":750,"y":400,"wires":[]}]